:host-context(.platform-linux) .monospace,
:host-context(.platform-linux) .source-code,
.platform-linux .monospace, 
.platform-linux .source-code {
    font-size: 11px !important;
    font-family: Consolas, monospace !important;
}

.monospace,
.source-code {
    font-size: 11px !important;
    font-family: Consolas, monospace !important;
}

::shadow .monospace,
::shadow .source-code {
    font-size: 11px !important;
    font-family: Consolas, monospace !important;
}